.text-element {
    font-size: 60px;
    -unity-text-align: middle-center;
    -unity-font-style: normal;
    color: rgb(255, 255, 255);
    -unity-font-definition: resource('Fonts/toxigenesis bd');
}

#background {
    background-color: rgb(16, 22, 34);
    flex-grow: 1;
}

.button {
    height: 175px;
    transition-duration: 0.2s;
}

.button:hover {
    scale: 1.1 1.1;
}

.button > Image {
    height: 175px;
    translate: -50px 0;
}
