#copy-button > Image {
    -unity-background-image-tint-color: rgb(19, 91, 236);
    background-image: resource('Sprites/copy');
    -unity-background-scale-mode: scale-to-fit;
}

.copy-button:active {
    background-color: rgba(19, 91, 236, 0.35);
    scale: 1.05 1.05;
}

.copy-button {
    height: 150px;
    background-color: rgba(19, 91, 236, 0.1);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 60px;
    -unity-font-definition: resource('Fonts/Kanit-Regular');
    -unity-font-style: normal;
    color: rgb(19, 91, 236);
    -unity-text-align: middle-center;
    transition-duration: 0.1s;
}
